<div class="container mt-4" *ngIf="!!loggedUser">
    <div class="row">
        <div class="col-sm-3">
            <img class="img-fluid" src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4.png" alt="">
            <hr>
            <p>User:  {{username | titlecase}}</p>
        </div>
        <div class="col-md-6 offset-md-3">
            <app-insert-form></app-insert-form>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-sm-9">
            <app-list-editor></app-list-editor>
        </div>
    </div>
</div>