.page-link {
  border-radius: 0 !important;
  color: var(--secondary-salmon);
}

.page-item.active .page-link {
  background-color: var(--secondary-salmon);
  border: none;
}

.page-link:focus {
  box-shadow: none !important;
  outline: 0;
}

