<div class="container">
  <div class="row">
    <div class="col col-lg-10">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item" [ngClass]="{disabled: currentPage === 1}">
            <a class="page-link" aria-label="Previous" (click)="onPageChanged('first')">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"
              *ngFor="let page of paginationLength"
              (click)="onPageChanged(page)"
              [ngClass]="{active: currentPage === page}">
            <a class="page-link">{{ page }}</a>
          </li>
          <li class="page-item" [ngClass]="{disabled: currentPage === paginationLength.length}">
            <a class="page-link" aria-label="Next" (click)="onPageChanged('last')">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col col-lg-2">

      <app-limit-selector></app-limit-selector>
    
    </div>
  </div>
</div>
