.justify-end {
  justify-content: flex-end;
}

.bg-light {
  background-color: var(--primary-gray) !important;
}

.user-image {
  border-radius: 20px;
}

.card-absolute {
  position: absolute;
  top: 112%;
  right: 20px;
  z-index: 1;
}

