<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active" ><h3>AubayGoogle</h3></a>

    <div class="collapse navbar-collapse justify-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active" *ngIf="!!!loggedUser">Log In</a>
        </li>
        <a class="navbar-brand pointer" >
          <img class="img-fluid user-image" src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4.png" (click)="clickMenu()"  *ngIf="!!loggedUser" [ngClass]="{'shadow-light': showMenu}" alt="" width="30" height="24">
        </a>
      </ul>
    </div>
    <div class="card card-absolute shadow-light" *ngIf="showMenu">
      <div class="card-body menu-card">
        <a class="pointer"  [routerLink]="['/admin']"  routerLinkActive="active" (click)="clickMenu()">Admin Panel</a>
        <a class="pointer"  (click)="onLogOut()" (click)="clickMenu()">Log Out</a>
      </div>
    </div>
  </nav>