.option-button{
    text-decoration: none;
    color: black;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.delete-button{
    cursor: pointer;
}

.all-research-list{
    overflow: scroll;
    height: 302px;
}