.option-button{
    text-decoration: none;
    color: black;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.delete-button{
    cursor: pointer;
}

i{
    color: var(--secondary-salmon) !important;
    transform: scale(1.4);
    transition: all 0.4s ease;

}

.icon-disabled{
    color: var(--primary-black) !important;
    opacity: 0.6;
    cursor: not-allowed;
    transform: scale(1);
}

.all-research-list{
    overflow: scroll;
    height: 302px;
}

.icon-margin {
    margin-right: 1rem
}