  <div class="card shadow-left-light">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6 col-6 cart-title mb-3">
          <h4>Pannello Ricerche:</h4>
        </div>
        <div class="col-sm-6 col-6">
            <a type="button" class="option-button flex-end">...</a>
        </div>
        <div class="col-sm-12 mb-2 delete-button">
            <i class="bi bi-trash icon-margin" (click)="onDelete()" [ngClass]="{'icon-disabled': this.researchSelectedArray.length < 1}"></i>
            <i class="bi bi-pen" (click)="onUpdate()" [ngClass]="{'icon-disabled': this.researchSelectedArray.length > 1 || this.researchSelectedArray.length < 1 }"></i>
        </div>
      </div>
      <div class="list-group all-research-list">
        <button type="button" class="list-group-item list-group-item-action" *ngFor="let research of researchList">
          <form>
            <div class="row">              
              <p class="col-sm-10">{{research.id}} - {{research.titolo}}</p>
              <div class="form-check col-sm-2 flex-end">
                <input (click)="addSelectedElement(research.id)" class="form-check-input" type="checkbox" value="" name="research{{research.id}}">
              </div>
            </div>
          </form>
        </button>
      </div>
    </div>
  </div>

  <app-update-research [researchToUpdate]='researchToUpdate' *ngIf="researchToUpdate"></app-update-research>
