<div class="container">
  <div class="row mt-5">
    <ul class="list-group">
      <li class="list-group-item" style="border: none"
          *ngFor="let research of onResearch | paginate: { itemsPerPage: 1, currentPage: page }">
        <a [href]="research.url" target="_blank">{{ research.url }}</a>
        <div>{{ research.titolo }}</div>
        <p>{{ research.descrizione }}</p>
      </li>
    </ul>
  </div>
  <div class="row mt-5">
    <pagination-controls class="text-center" (pageChange)="page = $event" [autoHide]="true"></pagination-controls>
  </div>
</div>



