<app-loader *ngIf="loading"></app-loader>
<form [formGroup]="newResearchForm" *ngIf="!loading">
  <h4 class="mb-3">Inserisci Nuova Ricerca:</h4>
  <div class="form-group">
    <label for="title">Titolo</label>
    <input
      type="text"
      class="form-control"
      id="title"
      formControlName="titolo"
    />
  </div>
  <div class="form-group">
    <label for="descrizione">Descrizione</label>
    <input
      type="text"
      class="form-control"
      id="descrizione"
      formControlName="descrizione"
    />
  </div>
  <div class="form-group">
    <label for="chiavi">Chiavi</label>
    <input
      type="text"
      class="form-control"
      id="chiavi"
      formControlName="chiavi"
    />
  </div>
  <div class="form-group">
    <label for="url">Url</label>
    <input type="text" class="form-control" id="url" formControlName="url" />
  </div>
  <button (click)="onSubmit()" [ngClass]="{'disabled' : !newResearchForm.valid}" type="submit" class="btn btn-primary mt-3">{{!updateResearch ? 'Submit' : 'Update'}}</button>
</form>

<app-error *ngIf="errorMessage" [error]="errorMessage"></app-error>