/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300;400;500;600&family=Poppins:wght@300;400;500&display=swap');
/* 
    font-family: 'Encode Sans SC', sans-serif;
    font-family: 'Poppins', sans-serif;
*/


:root{
    --primary-black: #303030;
    --primary-black-opacity: #30303041;
    --primary-white: #FFFFFF;
    --primary-gray: #d6e3e1;
    --secondary-salmon: #FDB599;
    --secondary-salmon-disabled: #b88976a2;
    --error-color: #d18e8e7a !important ; 
}

body{
    color: var(--primary-black) !important;
    background-color: var(--primary-white) !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px !important;
}

h4{
    font-size: 16px !important;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: 500;
    letter-spacing: 4px !important;
}

h3{
    font-size: 19px;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;

}

.flex-center{
    display: flex;
    justify-content: center;
}

.ml-auto{
    margin-left: auto;
}

.pointer{
    cursor: pointer;
}

.shadow-left-light{
    box-shadow: -3px 4px 8px 2px var(--primary-black-opacity);
}

.shadow-light{
    box-shadow: -1px 2px 4px 2px var(--primary-black-opacity);
}

.container-absolute{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    
    display: flex;
    align-items: center;
}

.btn{
    padding: 7px 20px;
    font-size: 14px;
    transform: scale(1);
    transition: all 0.6s ease !important;
}

.btn:hover{
  box-shadow: 0px 0px 5px 2px var(--primary-black-opacity);  
  transform: scale(1.05);
}

.btn-primary{
    border: none !important;
    border-radius: 0 !important;
    background-color: var(--secondary-salmon) !important;
    border-radius: none !important;
}

.btn.disabled{
    background-color: var(--secondary-salmon-disabled) !important;
}

.btn-primary.disabled .btn-primary:disabled{
    border: none;
    border-radius: none !important;
}

.navbar{
    padding: 11px 18px;
    box-shadow: 0px 1px 5px 2px var(--primary-black-opacity);
}

.form-group{
    margin: 0.5rem 0 1rem 0 !important;
}

input{
    border: none !important;
    border-radius: 0 !important;
}

input:focus{
    box-shadow: 0px 0px 2px 2px var(--secondary-salmon) !important;
    border: none !important;
    border-radius: 0 !important;
}

label{
    font-size: 14px;
    font-weight: 300;
}

.form-check input{
    border: 1px solid var(--primary-black) !important;
}

.form-check input:focus{
    box-shadow: none !important;
}

.card{
    background-image: linear-gradient( 45deg , var(--primary-gray) 50%, #d6e3e1b5);
    border: none !important;
    border-radius: 0 !important;
}

.card-body{
    padding: 18px 18px;
}


.menu-card {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 11px 18px;
    line-height: 25px;
    z-index: 9
  }
  
  .menu-card a{
    text-decoration: none;
    color: var(--primary-black);
    letter-spacing: 1px;
    transform: scale(1) translateX(-4px);
    transition: all 0.4s ease;
  }
  
  .menu-card a:hover{
      color: var(--primary-black);
    transform: scale(1.05) translateX(0px);
    
  }